## Observations and Insights

In [18]:
# Dependencies and Setup
%matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

Using matplotlib backend: MacOSX

In [19]:
# Set csv path
mouse_metadata_path="data/Mouse_metadata.csv"
study_results_path="data/Study_results.csv"

# Read csv 
mouse_metadata=pd.read_csv(mouse_metadata_path)
study_results=pd.read_csv(study_results_path)

#### Brief assessment of each dataset

In [20]:
# mouse_metadata
# mouse_metadata.head()
mouse_metadata.count()

Mouse ID        249
Drug Regimen    249
Sex             249
Age_months      249
Weight (g)      249
dtype: int64

In [21]:
# study_results
# study_results.head()
study_results.count()

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

#### Combine and Evaluate

In [22]:
# Combine the data into a single dataset 
combined_df=pd.merge(mouse_metadata, study_results, how="inner", on="Mouse ID")

### This works belows to pull out duplicate. now create a new df with similar steps only use a filter saying mouse id !=g989 instead of .duplicated

In [71]:
# Display the data table for preview
myfilter=combined_df.duplicated(subset=["Mouse ID", "Timepoint"])
#combined_df.head()
filter_df=combined_df.loc[myfilter,"Mouse ID"]
filter_df.head()

909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object

In [24]:
# Count per mouse ID 
mouse_ids=combined_df["Mouse ID"].value_counts()
mouse_ids

g989    13
m269    10
a203    10
h246    10
i901    10
b559    10
q511    10
f345    10
k894    10
z581    10
r604    10
m957    10
a492    10
m650    10
a262    10
c832    10
p189    10
a401    10
x401    10
l700    10
e584    10
i177    10
o795    10
j296    10
j119    10
g316    10
l509    10
n304    10
s185    10
k403    10
        ..
a457     3
s166     3
w150     3
m756     2
w678     2
h531     2
n630     2
s619     2
w746     2
z234     2
c326     2
w140     2
y601     2
f278     2
o813     2
v339     2
f394     2
z314     2
x226     1
b447     1
f932     1
u153     1
x336     1
d133     1
n482     1
h428     1
o848     1
v199     1
l872     1
t573     1
Name: Mouse ID, Length: 249, dtype: int64

In [25]:
# Find and show the number of mice.
mouse_count=len(mouse_ids)
new_df={'Numer of Mice': [mouse_count]}
pd.DataFrame(new_df)

   Numer of Mice
0            249

## Need help - post office hrs - this code below for mouse dup is likely all not needed, see above where filtered on dups

In [26]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [54]:
# Another possible attempt at finding the duplicate mouse...no idea...
# set new index to mouse id
new_index_df=combined_df.set_index("Mouse ID")
pd.DataFrame(new_index_df)
new_index_df.loc[:, ["Timepoint"]]

          Timepoint
Mouse ID
k403              0
k403              5
k403             10
k403             15
k403             20
k403             25
k403             30
k403             35
k403             40
k403             45
s185              0
s185              5
s185             10
s185             15
s185             20
s185             25
s185             30
s185             35
s185             40
s185             45
x401              0
x401              5
x401             10
x401             15
x401             20
x401             25
x401             30
x401             35
x401             40
x401             45
...             ...
z581              0
z581              5
z581             10
z581             15
z581             20
z581             25
z581             30
z581             35
z581             40
z581             45
z795              0
z795              5
z795             10
z795             15
z795             20
z795             25
z795             30
z795             35
z795             40
z795             45
z969              0
z969              5
z969             10
z969             15
z969             20
z969             25
z969             30
z969             35
z969             40
z969             45

[1893 rows x 1 columns]

In [68]:
new_index_df.duplicated()
#no idea how to get to the mouse with duplicated times, which I think should be mouse id g989....

Mouse ID
k403    False
k403    False
k403    False
k403    False
k403    False
k403    False
k403    False
k403    False
k403    False
k403    False
s185    False
s185    False
s185    False
s185    False
s185    False
s185    False
s185    False
s185    False
s185    False
s185    False
x401    False
x401    False
x401    False
x401    False
x401    False
x401    False
x401    False
x401    False
x401    False
x401    False
        ...
z581    False
z581    False
z581    False
z581    False
z581    False
z581    False
z581    False
z581    False
z581    False
z581    False
z795    False
z795    False
z795    False
z795    False
z795    False
z795    False
z795    False
z795    False
z795    False
z795    False
z969    False
z969    False
z969    False
z969    False
z969    False
z969    False
z969    False
z969    False
z969    False
z969    False
Length: 1893, dtype: bool

In [32]:
# Optional: Get all the data for the duplicate mouse ID.

In [12]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen